.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post {
  flex: 1;
  padding: 70px 35px;
}

.extraInfo {
  display: flex;
}

.extraInfo div {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 36px;
}

.extraInfo img {
  height: 20px;
  width: auto;
}

.extraInfo span {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 30px;
}

.thumb {
  max-width: 100%;
}

.postSection img {
  max-width: 100%;
}

/* text */
.post h1 {
  font-size: 4rem;
  font-weight: bold;
}

.post h2,
.post h3 {
  font-size: 3rem;
  font-weight: bold;

  margin-top: 34.5px;
  margin-bottom: 15px;
}

.post p,
.post code {
  font-size: 2rem;
}

.post p code {
  background-color: #D5D5D5;
  padding: 0 2px;
  border-radius: 4px;
}

.post pre {
  background-color: #D5D5D5;
  padding: 6px 4px;
  margin: 4px 0px;
  border-radius: 4px;
}

.post pre code {
  white-space: pre-wrap;
}

.postSection p + p  {
  margin-top: 27px;
}

.description {
  color: #707070;
}
/* *** */
